<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= sneaker.name %></title>
  <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>
<body>
  <h1><%= sneaker.name %></h1>
  <p>Brand: <%= sneaker.brand %></p>
  <p>Size: <%= sneaker.size %></p>
  <p>This sneaker is <%= sneaker.isAvailable ? 'available' : 'not available' %>.</p>
  
  <div class="sneaker-actions">
    <form action="/sneakers/<%= sneaker._id %>?_method=DELETE" method="POST" class="delete-form">
      <button type="submit" class="delete-button">Delete <%= sneaker.name %></button>
    </form>
    <a href="/sneakers/<%= sneaker._id %>/edit" class="edit-link">Edit <%= sneaker.name %></a>
  </div>
  
  <a href="/sneakers" class="sneakers-index-link">Back to Sneakers</a>
</body>
</html>
